.monParcours {
    // parent aProposCards
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow-card);
    transition: 0.6s;
    h3 {
        font-size: var(--h3-size);
        color: var(--text-color);
        transition: var(--transition);
        &:hover {
            color: var(--text-hover);
        }
    }
    p {
        font-size: var(--p-size);
        line-height: 2rem;
        a {
            color: #704ee4;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 10px;
        }
    }
    .myCv {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    &:hover {
        box-shadow: var(--box-shadow-card-hover);
    }
}
