#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--padding-page);
    background-color: var(--background-color-1);
    gap: 20px;
    h3 {
        color: var(--text-color);
        font-size: var(--h3-size);
    }
    p {
        color: var(--text-color);
        font-weight: bold;
        font-size: 0.7rem;
    }
    form {
        padding: 20px;
        border-radius: 5%;
        background-color: var(--background-color-2);
        ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            li {
                width: 50vw;
            }
        }
    }
}

@import "../../scss/variableScss.scss";
@media screen and (max-width: $point-3) {
    #contact {
        form {
            width: 100%;
        }
    }
}
