.cardProjet {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        height: 400px;
        background-color: var(--background-color-1);
        box-shadow: var(--box-shadow-card);
        transition: 0.6s;
        &:hover {
            box-shadow: var(--box-shadow-card-hover);
        }
        &:hover h4 {
            color: var(--text-hover);
        }
        &:hover p {
            color: var(--text-hover);
        }
        h4 {
            color: var(--text-color);
            font-size: var(--h3-size);
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        p {
            color: var(--text-color);
            line-height: 2rem;
        }
    }
}
