.cardProjet {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--background-color-1);
        box-shadow: var(--box-shadow-card);
        transition: 0.6s;
        height: 500px;

        &:hover {
            box-shadow: var(--box-shadow-card-hover);
        }
        &:hover h4 {
            color: var(--text-color);
        }
        &:hover p {
            color: var(--text-color);
        }
        h4 {
            color: var(--text-hover);
            font-size: var(--h3-size);
            padding-bottom: 10px;
        }
        img {
            height: 200px;
            width: 200px;
            opacity: 0.6;
            object-fit: cover;
        }
        p {
            padding-top: 10px;
            font-size: var(--p-size);
            color: var(--text-hover);
            line-height: 2rem;
        }
        ul {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}
@import "../../../scss/variableScss.scss";
@media screen and (max-width: $point-min) {
    .cardProjet {
        a {
            height: auto;
        }
    }
}
