#competences {
    background-color: var(--background-color-2);
    padding: var(--padding-page);
    .competencesCards {
        display: flex;
        gap: 10px;
    }
}

@import "../../scss/variableScss.scss";
@media screen and (max-width: $point-2) {
    #competences {
        .competencesCards {
            flex-direction: column;
        }
    }
}
