#projects {
    width: 100%;
    padding: var(--padding-page);
    background-color: var(--background-color-1);
    .listProject {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        li {
            flex: 1;
        }
    }
}
