.name {
    text-decoration: none;
    color: var(--text-color);
    transition: all 1s ease;
    font-size: var(--name-size);
    &:hover {
        color: var(--text-hover);
        opacity: 50%;
        transform: scale(1.1);
    }
}
@import "../../../scss/variableScss.scss";

@media screen and (max-width: $point-3) {
    .name {
        display: none;
    }
}
