.name {
    text-decoration: none;
    color: var(--text-color);
    padding: 2rem;
    transition: all 1s ease;
    font-size: var(--name-size);
    &:hover {
        color: var(--text-hover);
        opacity: 50%;
        transform: scale(1.1);
    }
}
